.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.clients-item {
  flex-basis: calc(100% / 2 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;

  background-color: #fff;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

.clients__icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .clients-item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
  }
}

@media screen and (min-width: 1200px) {
  .clients-item {
    flex-basis: calc(100% / 6 - var(--card-set-gap));
  }
}

// .clients-list {
//   display: flex;
//   flex-wrap: wrap;
//   margin-left: calc(-1 * var(--card-set-gap));
//   margin-top: calc(-1 * var(--card-set-gap));
// }

// .clients-item {
//   flex-basis: calc(100% / 6 - var(--card-set-gap));
//   margin-left: var(--card-set-gap);
//   margin-top: var(--card-set-gap);
// }

// // .clients-wrapper {
// //   display: flex;
// //   justify-content: center;
// //   align-items: center;
// // }

// .clients__link {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 170px;
//   height: 90px;

//   background-color: #fff;
//   border: 1px solid var(--icon-color);
//   border-radius: 4px;
//   transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   cursor: pointer;

//   &:hover,
//   &:focus {
//     border-color: var(--accent-color);
//     outline: none;
//   }
// }

// .clients__icon {
//   fill: var(--icon-color);
//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   .clients__link:hover &,
//   .clients__link:focus & {
//     fill: var(--accent-color);
//   }
// }
