.header {
  padding: 10px 0px;
  border-bottom: 1px solid #ececec;
  outline: none;
}

@media screen and (max-width: 767px) {
  .menu,
  .header-contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .burger-btn,
  .modal-mobile {
    display: none;
  }

  .header {
    display: flex;
    align-items: center;
    padding: 0;
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  .menu__item {
    position: relative;
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  .menu__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: inherit;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .active-link {
    color: var(--accent-color);

    &::after {
      position: absolute;
      content: "";
      display: block;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      border-radius: 2px;
    }
  }

  .menu__link:hover,
  .menu__link:focus {
    &::after {
      position: absolute;
      content: "";
      display: block;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      border-radius: 2px;
    }
  }

  .header-contacts__item {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }

  .header-contacts__mail-link {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    color: var(--secondary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .header-contacts__mail-icon {
    width: 14px;
    height: 10px;
    margin-right: 8px;
    fill: currentColor;
  }

  .header-contacts__tel-link {
    display: flex;
    align-items: center;

    color: var(--secondary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .header-contacts__tel-icon {
    width: 10px;
    height: 14px;
    margin-right: 8px;
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__item {
      font-size: 14px;
      line-height: 1.14;
    }
  }

  .header-contacts__mail-link {
    justify-content: flex-end;
    margin-bottom: 0;
    margin-right: 50px;
    margin-left: auto;
  }

  .header-contacts__mail-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }

  .header-contacts__tel-link {
    justify-content: flex-end;
    margin-bottom: 0;
  }

  .header-contacts__tel-icon {
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }
}
