.product {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.product__upwrapper {
  position: relative;
  overflow: hidden;
}

.product__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 62px 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);

  .product-link:hover &,
  .product-link:focus & {
    transform: translateY(0);
  }
}

.product__content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.product__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.product__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

@media screen and (max-width: 767px) {
  .product {
    &:not(:last-child) {
      margin-bottom: var(--card-set-gap);
    }
  }
}

@media screen and (min-width: 768px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
  }

  .product {
    display: flex;
    flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }

  .product-link {
    display: flex;
    flex-direction: column;
  }

  .product__content {
    flex-grow: 1;
  }
}

@media screen and (min-width: 1200px) {
  .product {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
  }
}

// .grid {
//   display: flex;
//   flex-wrap: wrap;
//   margin-left: calc(-1 * var(--card-set-gap));
//   margin-top: calc(-1 * var(--card-set-gap));
// }

// .product {
//   flex-basis: calc(100% / 3 - var(--card-set-gap));
//   margin-left: var(--card-set-gap);
//   margin-top: var(--card-set-gap);
//   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
//       1px 4px 6px rgba(0, 0, 0, 0.16);
//   }
// }

// .product__content {
//   padding: 20px 24px;
//   border: 1px solid #eeeeee;
//   border-top: none;
// }

// .product__title {
//   margin-bottom: 4px;
//   font-weight: 700;
//   font-size: 18px;
//   line-height: 2;
//   letter-spacing: 0.06em;
//   color: var(--main-color);
// }

// .product__text {
//   font-size: 16px;
//   line-height: 1.87;
//   letter-spacing: 0.03em;
//   color: var(--secondary-color);
// }

// .product__upwrapper {
//   position: relative;
//   overflow: hidden;
// }

// .product__overlay {
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: 100%;
//   padding: 62px 24px;
//   overflow: auto;
//   transform: translateY(100%);
//   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   font-size: 18px;
//   line-height: 1.56;
//   letter-spacing: 0.03em;
//   color: #ffffff;
//   background-color: rgba(33, 150, 243, 0.9);

//   .product-link:hover &,
//   .product-link:focus & {
//     transform: translateY(0);
//   }
// }
