.skills {
  display: none;
}

@media screen and (min-width: 1200px) {
  .skills {
    display: block;
    padding-top: 47px;
  }

  .abilities {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
  }

  .abilities__item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }

  .abilities__wrapper {
    position: relative;
    overflow: hidden;
  }

  .abilities__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 28px;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);

    .abilities__item:hover &,
    .abilities__item:focus & {
      transform: translateY(0);
    }
  }
}
