.team {
  background-color: #f5f4fa;
}

.team-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-image {
  width: 100%;
}

.team-content {
  padding: 30px;
}

.team-content__title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-content__text {
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

@media screen and (max-width: 767px) {
  .team-item:not(:last-child) {
    margin-bottom: var(--card-set-gap);
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
  }

  .team-item {
    flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    flex-basis: calc(100% / 4 - var(--card-set-gap));
  }
}

// .team {
//   background-color: #f5f4fa;
// }

// .team-list {
//   display: flex;
//   flex-wrap: wrap;
//   margin-left: calc(-1 * var(--card-set-gap));
//   margin-top: calc(-1 * var(--card-set-gap));
// }

// .team-item {
//   flex-basis: calc(100% / 4 - var(--card-set-gap));
//   margin-left: var(--card-set-gap);
//   margin-top: var(--card-set-gap);
//   background-color: #ffffff;
//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
// }

// .team-content {
//   padding: 30px;
// }

// .team-content__title {
//   margin-bottom: 10px;
//   text-align: center;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.19;
//   letter-spacing: 0.03em;
// }

// .team-content__text {
//   margin-bottom: 16px;
//   text-align: center;
//   font-size: 16px;
//   line-height: 1.19;
//   letter-spacing: 0.03em;
//   color: var(--secondary-color);
// }
