.filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.filter-list__item {
  margin-bottom: 15px;

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.filter-list__button {
  padding: 6px 22px;
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-color);

  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.active-button {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .filter-list {
    justify-content: center;
    margin-bottom: 30px;
  }

  .filter-list__item {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .filter-list {
    margin-bottom: 50px;
  }
}

// .filter-list {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   margin-bottom: 50px;
// }

// .filter-list__item {
//   &:not(:last-child) {
//     margin-right: 8px;
//   }
// }

// .filter-list__button {
//   padding: 6px 22px;
//   background-color: #f5f4fa;
//   font-family: inherit;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.62;
//   letter-spacing: 0.03em;
//   color: var(--main-color);
//   border: none;
//   border-radius: 4px;
//   cursor: pointer;
//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     background-color: var(--accent-color);
//     color: var(--white-color);
//     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
//       0px 2px 2px rgba(0, 0, 0, 0.12);
//   }
// }
