.sosial-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sosial-list__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.sosial-list__icon {
  width: 20px;
  height: 20px;
}

.sosial-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 50%;

  background-color: var(--white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .sosial-list__icon {
    fill: var(--icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover,
  &:focus {
    background-color: var(--accent-color);

    .sosial-list__icon {
      fill: var(--white-color);
    }
  }
}

.footer {
  .sosial-list__link {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }

  .sosial-list__icon {
    fill: var(--white-color);
  }
}
