.same-title {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .same-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

// .same-title {
//   margin-bottom: 50px;
//   text-align: center;
//   font-weight: 700;
//   font-size: 36px;
//   line-height: 1.17;
//   letter-spacing: 0.03em;
// }
